<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-8 my-5">
          <h1 class="text-center my-5">Olá <%= user.email %></h1>
          <%- include('includes/messages') %>

            <div class="row mt-4">

            </div>
        </div>
      </div>
    </div>
  
    <%- include('includes/footer') %>