<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-8 my-5">
          <h1 class="text-center my-5">Faça seu login ou cadastro</h1>
          <%- include('includes/messages') %>


            <div class="row mt-4">

              <!-- Cadastro -->
              <div class="col-lg-6">
                <h4 class="text-center mb-4">Cadastro</h4>

                <form class="form-registro" action="/user/register" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <div class="mb-3">
                    <label class="form-label">Seu nome</label>
                    <input type="text" class="form-control" name="nome">
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Seu e-mail</label>
                    <input type="email" class="form-control" name="email">
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Sua senha</label>
                    <input type="password" class="form-control" name="senha">
                  </div>

                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary">
                      Cadastrar
                    </button>
                  </div>

                </form>
              </div>

              <!-- Login -->
              <div class="col-lg-6">
                <h4 class="text-center mb-4">Login</h4>

                <form class="form-login" action="/user/login" method="POST" autocomplete="on">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                  <div class="mb-3">
                    <label class="form-label">Seu e-mail</label>
                    <input type="email" class="form-control" name="email" autocomplete="email">
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Sua senha</label>
                    <input type="password" class="form-control" name="senha" autocomplete="current-password">
                  </div>

                  <div class="d-grid">
                    <button type="submit" class="btn btn-success">
                      Entrar
                    </button>
                  </div>

                </form>
              </div>
            </div>
        </div>
      </div>
    </div>

    <%- include('includes/footer') %>